# 比較各縣市補習班與區域數量比率是否存在城鄉差距

### 先讀入相關資料，擷取需要的部分

In [6]:
import pandas as pd

df = pd.read_csv('Tainan.csv')

df.head()

,行政區別,總計,文理類合計,文理類[文理],文理類[外語],文理類[法政],技藝類合計,技藝類[電機_汽車修護_建築_工藝_製圖類],技藝類[資訊],技藝類[家政_插花烹飪],技藝類[縫紉],技藝類[美容_美髮_理髮],技藝類[音樂_舞蹈],技藝類[美術_書法_攝影_美工設計_圍棋],技藝類[心算_珠算_會計],技藝類[瑜珈],技藝類[速讀],技藝類[其他]
0,總 計,"1,412","1,280",978,298,4,132,3,9,-,-,7,62,20,28,-,1,2
1,新營區,66,58,49,9,-,8,-,-,-,-,-,5,2,1,-,-,-
2,鹽水區,6,6,5,1,-,-,-,-,-,-,-,-,-,-,-,-,-
3,白河區,10,10,9,1,-,-,-,-,-,-,-,-,-,-,-,-,-
4,柳營區,5,5,4,1,-,-,-,-,-,-,-,-,-,-,-,-,-

In [7]:
temp = df[['行政區別', '文理類合計']]
temp

     行政區別  文理類合計
0   總   計  1,280
1     新營區     58
2     鹽水區      6
3     白河區     10
4     柳營區      5
5     後壁區      2
6     東山區      2
7     麻豆區     27
8     下營區      8
9     六甲區     13
10    官田區      7
11    大內區      1
12    佳里區     48
13    學甲區     10
14    西港區     12
15    七股區      2
16    將軍區      3
17    北門區     -
18    新化區     32
19    善化區     33
20    新市區     35
21    安定區     13
22    山上區      3
23    玉井區     10
24    楠西區      2
25    南化區      1
26    左鎮區     -
27    仁德區     22
28    歸仁區     42
29    關廟區     10
30    龍崎區     -
31    永康區    190
32     東區    236
33     南區     59
34     北區    115
35    安南區    116
36    安平區     61
37    中西區     86

In [8]:
dft = pd.read_csv('new Taipei.csv')

dft.head()

,c_schoolname,c_sn,c_settime
0,私立名翰文理短期補習班,三峽區民生街83號3樓,1019059200000
1,私立快樂機器人有限公司附設快樂機器人技藝短期補習班,蘆洲區三民路185號2樓,1659628800000
2,私立學丞文理短期補習班,蘆洲區光榮路97巷33號1樓,1659024000000
3,私立未來領袖教育股份有限公司附設允騰文理短期補習班,林口區文化二路1段571之2號(1樓及2樓)、四維路62號(1樓及2樓),1375372800000
4,私立陳老師文理技藝短期補習班,蘆洲區民族路145號2樓之1、2樓之2、129號2樓、131號1、2樓、145之1號1樓、1...,924710400000

In [10]:
dfm = pd.read_csv('mazhu.csv')

dfm.head()

,行政區別,總計,文理類合計,文理類[文理],文理類[外語],文理類[法政],技藝類合計,技藝類[電機_汽車修護_建築_工藝_製圖類],技藝類[資訊],技藝類[家政_插花烹飪],技藝類[縫紉],技藝類[美容_美髮_理髮],技藝類[音樂_舞蹈],技藝類[美術_書法_攝影_美工設計_圍棋],技藝類[心算_珠算_會計],技藝類[瑜珈],技藝類[速讀],技藝類[其他]
0,總 計,8,3,3,-,-,5,-,-,-,-,-,2,2,1,-,-,-
1,南竿鄉,8,3,3,-,-,5,-,-,-,-,-,2,2,1,-,-,-
2,北竿鄉,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,莒光鄉,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
4,東引鄉,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-