# 比較各縣市補習班與區域數量比率是否存在城鄉差距

### 先讀入相關資料，擷取需要的部分

In [ ]:
import pandas as pd

df = pd.read_csv('Tainan.csv')

df.head()

In [ ]:
temp = df[['行政區別', '文理類合計']]
temp

In [6]:
dft = pd.read_csv('new Taipei.csv')

dft.head()

,c_schoolname,c_sn,c_settime
0,私立名翰文理短期補習班,三峽區民生街83號3樓,1019059200000
1,私立快樂機器人有限公司附設快樂機器人技藝短期補習班,蘆洲區三民路185號2樓,1659628800000
2,私立學丞文理短期補習班,蘆洲區光榮路97巷33號1樓,1659024000000
3,私立未來領袖教育股份有限公司附設允騰文理短期補習班,林口區文化二路1段571之2號(1樓及2樓)、四維路62號(1樓及2樓),1375372800000
4,私立陳老師文理技藝短期補習班,蘆洲區民族路145號2樓之1、2樓之2、129號2樓、131號1、2樓、145之1號1樓、1...,924710400000

In [1]:
dfm = pd.read_csv('mazhu.csv')

dft.head()

NameError: name 'pd' is not defined